In [32]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv('PCOS ANALY.csv')
df.columns

Index(['Timestamp', 'Have you been diagnosed(tested) with PCOS  ?',
       'You had/have  PCOS ?', 'Select your age at which you had PCOS',
       'Were you overweight according to your BMI (Body Mass Index) ?',
       'Have you experienced significant or rapid weight gain and faced difficulty in losing it ?',
       'Have you experienced irregular or missed periods ?',
       'Difficulty in conceiving ?', 'Chin', 'Cheeks', 'Upper Lips',
       'Between breast', 'Arms', 'Inner thighs', 'Acne or skin tags problem ?',
       'Hair thinning or hair loss problems ?',
       'Dark patches on the back of your neck or underarms ?',
       'Feeling of  tiredness all the time ?',
       'Mood Swings more often than usual ?',
       'How many days in a week did you exercise ?',
       'How many times a week did you eat outside  ?',
       'Did you consume canned food more often ?',
       'Did you move to a different city/location before experiencing the above conditions ?'],
      dtype='object')

In [34]:
df.columns = ['time', 'diagnosed', 'result', 'age', 'overweight', 'weightgain', 'periods', 'conceiving', 'chinHair', 
              'cheeksHair', 'upperLipHair', 'betweenBreastHair', 'armsHair', 'innerThighHair', 'acneOrskinTag', 
              'hairThinning', 'darkPatch', 'tiredness', 'moodSwings', 'exercise', 'eatOutside', 'cannedFood', 'city']

new = pd.DataFrame(df[df.diagnosed == 'Yes'])
new.head()

,time,diagnosed,result,age,overweight,weightgain,periods,conceiving,chinHair,cheeksHair,...,innerThighHair,acneOrskinTag,hairThinning,darkPatch,tiredness,moodSwings,exercise,eatOutside,cannedFood,city
1,2018/09/07 3:11:16 PM GMT+5:30,Yes,No,23.0,NO,NaN,No,No,3.0,4.0,...,3.0,No,No,No,Yes,Yes,3.0,4.0,Yes,No
2,2018/09/09 8:58:58 PM GMT+5:30,Yes,Yes,22.0,YES,No,No,No,4.0,1.0,...,1.0,Yes,Yes,No,Yes,Yes,4.0,3.0,No,No
6,2018/09/12 9:54:20 AM GMT+5:30,Yes,Yes,26.0,NO,NaN,No,No,1.0,1.0,...,1.0,No,Yes,No,No,Yes,1.0,6.0,No,No
7,2018/09/12 10:04:00 AM GMT+5:30,Yes,Yes,20.0,YES,Yes,Yes,No,3.0,2.0,...,3.0,No,No,Yes,Yes,Yes,5.0,2.0,No,Yes
8,2018/09/12 10:21:47 AM GMT+5:30,Yes,Yes,19.0,NO,NaN,Yes,No,3.0,1.0,...,3.0,Yes,Yes,No,Yes,Yes,2.0,2.0,Yes,No

In [35]:
new.reset_index(drop = True, inplace = True)
new.head()

,time,diagnosed,result,age,overweight,weightgain,periods,conceiving,chinHair,cheeksHair,...,innerThighHair,acneOrskinTag,hairThinning,darkPatch,tiredness,moodSwings,exercise,eatOutside,cannedFood,city
0,2018/09/07 3:11:16 PM GMT+5:30,Yes,No,23.0,NO,NaN,No,No,3.0,4.0,...,3.0,No,No,No,Yes,Yes,3.0,4.0,Yes,No
1,2018/09/09 8:58:58 PM GMT+5:30,Yes,Yes,22.0,YES,No,No,No,4.0,1.0,...,1.0,Yes,Yes,No,Yes,Yes,4.0,3.0,No,No
2,2018/09/12 9:54:20 AM GMT+5:30,Yes,Yes,26.0,NO,NaN,No,No,1.0,1.0,...,1.0,No,Yes,No,No,Yes,1.0,6.0,No,No
3,2018/09/12 10:04:00 AM GMT+5:30,Yes,Yes,20.0,YES,Yes,Yes,No,3.0,2.0,...,3.0,No,No,Yes,Yes,Yes,5.0,2.0,No,Yes
4,2018/09/12 10:21:47 AM GMT+5:30,Yes,Yes,19.0,NO,NaN,Yes,No,3.0,1.0,...,3.0,Yes,Yes,No,Yes,Yes,2.0,2.0,Yes,No

In [36]:
new.drop('time', axis = 1, inplace = True)
new.head()

,diagnosed,result,age,overweight,weightgain,periods,conceiving,chinHair,cheeksHair,upperLipHair,...,innerThighHair,acneOrskinTag,hairThinning,darkPatch,tiredness,moodSwings,exercise,eatOutside,cannedFood,city
0,Yes,No,23.0,NO,NaN,No,No,3.0,4.0,4.0,...,3.0,No,No,No,Yes,Yes,3.0,4.0,Yes,No
1,Yes,Yes,22.0,YES,No,No,No,4.0,1.0,3.0,...,1.0,Yes,Yes,No,Yes,Yes,4.0,3.0,No,No
2,Yes,Yes,26.0,NO,NaN,No,No,1.0,1.0,1.0,...,1.0,No,Yes,No,No,Yes,1.0,6.0,No,No
3,Yes,Yes,20.0,YES,Yes,Yes,No,3.0,2.0,4.0,...,3.0,No,No,Yes,Yes,Yes,5.0,2.0,No,Yes
4,Yes,Yes,19.0,NO,NaN,Yes,No,3.0,1.0,4.0,...,3.0,Yes,Yes,No,Yes,Yes,2.0,2.0,Yes,No

In [37]:
new.weightgain.fillna('abc', inplace = True)
new.head()

,diagnosed,result,age,overweight,weightgain,periods,conceiving,chinHair,cheeksHair,upperLipHair,...,innerThighHair,acneOrskinTag,hairThinning,darkPatch,tiredness,moodSwings,exercise,eatOutside,cannedFood,city
0,Yes,No,23.0,NO,abc,No,No,3.0,4.0,4.0,...,3.0,No,No,No,Yes,Yes,3.0,4.0,Yes,No
1,Yes,Yes,22.0,YES,No,No,No,4.0,1.0,3.0,...,1.0,Yes,Yes,No,Yes,Yes,4.0,3.0,No,No
2,Yes,Yes,26.0,NO,abc,No,No,1.0,1.0,1.0,...,1.0,No,Yes,No,No,Yes,1.0,6.0,No,No
3,Yes,Yes,20.0,YES,Yes,Yes,No,3.0,2.0,4.0,...,3.0,No,No,Yes,Yes,Yes,5.0,2.0,No,Yes
4,Yes,Yes,19.0,NO,abc,Yes,No,3.0,1.0,4.0,...,3.0,Yes,Yes,No,Yes,Yes,2.0,2.0,Yes,No

In [38]:
y = pd.DataFrame(new.result)
y.head()

  result
0     No
1    Yes
2    Yes
3    Yes
4    Yes

In [39]:
new.drop('result', axis = 1, inplace = True)
new.head()

,diagnosed,age,overweight,weightgain,periods,conceiving,chinHair,cheeksHair,upperLipHair,betweenBreastHair,...,innerThighHair,acneOrskinTag,hairThinning,darkPatch,tiredness,moodSwings,exercise,eatOutside,cannedFood,city
0,Yes,23.0,NO,abc,No,No,3.0,4.0,4.0,3.0,...,3.0,No,No,No,Yes,Yes,3.0,4.0,Yes,No
1,Yes,22.0,YES,No,No,No,4.0,1.0,3.0,2.0,...,1.0,Yes,Yes,No,Yes,Yes,4.0,3.0,No,No
2,Yes,26.0,NO,abc,No,No,1.0,1.0,1.0,1.0,...,1.0,No,Yes,No,No,Yes,1.0,6.0,No,No
3,Yes,20.0,YES,Yes,Yes,No,3.0,2.0,4.0,3.0,...,3.0,No,No,Yes,Yes,Yes,5.0,2.0,No,Yes
4,Yes,19.0,NO,abc,Yes,No,3.0,1.0,4.0,3.0,...,3.0,Yes,Yes,No,Yes,Yes,2.0,2.0,Yes,No

In [40]:
def g(s):
    if (s == 'Yes'):
        return 1
    if (s == 'No'):
        return 0
    if (s == 'YES'):
        return 1
    if (s == 'NO'):
        return 0
    if (s == 'abc'):
        return 2